VIRTUAL_PORT=3000
VIRTUAL_HOST=domain.tld,domain1.tld
LETSENCRYPT_HOST=domain.tld,domain1.tld
DEFAULT_DOMAIN=domain.tld
LETSENCRYPT_EMAIL=email@domain.tld
DISCORD_CHANNEL=#changeme
DISCORD_USER=hookbot
DISCORD_ICON=:party:
DISCORD_URL=https://
LOGO_FILE=
